.masthead {
    background-image: url("../../backgroundImg.png");
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
    .search {
        background-color: white;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        padding: 4px 5px 4px 17px;
        max-width: 70%;
        input {
            height: 32px;
            width: 70%;
            background: transparent;
            border: none;
            flex-basis: 60%;
        }

        button {
            color: #fff;
            background-color: #1E86FF;
            height: 32px;
            padding: 0 12px;
        }
    }
}